# Jupyter stuff
.ipynb_checkpoints/
.idea/
.vscode/

# First project
/01-Car_license_detection/training_data/
/01-Car_license_detection/*data*
.DS_Store

# Second proyect
/02-Cancer_diagnosis/data/*
/02-Cancer_diagnosis/Slicer-4.11.20210226-linux-amd64/*
/02-Cancer_diagnosis/code/__pycache__
